body {
    font-size: 20px;
}

div.todo-list {
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    overflow-y: scroll;
    height: 700px;
    width: 100%;
}

div.todo-list__nav {
    border: 2px dashed rgb(255, 255, 255);
    position: relative;
}

span.todo__date {
    font-size: 13px;
}

div.selected-date {
    position: absolute;
    right: 0px;
    top: 0px;
}

div.todo__no-todos {
    text-align: center;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
}

div.row {
    display: flex;
    flex-direction: row;
}

div.left-panel {
    border: 2px dashed rgb(255, 255, 255);
}

div.container {
    width: 70%;
    margin: 0 auto;
}

.container footer {
    margin-top: 20px;
    text-align: center;
}

div.left-panel {

}

.todo__status {
    font-size: 12px;
}

label {
    user-select: none;
}

.todo__name {
    position: relative;
}

.todo__footer {
    text-align: right;
}

.todo__name .todo__date {
    position: static;
    right: 0px;
    padding: 5px;
    margin-left: 12px;
}

.todo__status-done {
    color: green;
}

.autocomplete-widget {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    div.row {
        display: block;
    }
}
  